
*{
    border: 0;
    margin: 0;
    background: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: rgb(46, 42, 78);
}
h1{
    color: black;
    font-size: 64;
    font-style: italic;
}

header{
    height: 200px;
    width: 100%;
    display: block;
    margin: 0;
    padding: o;
    box-sizing: border-box;
    background-image: url(./assets/background-design1.jpg);
}

.logo{
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 0px;
}
.tit-home{
    display: block;
    width: 100%;
    align-content: center;
    padding: 1rem;
    background-color: black;
}

.menu{
    display: block;
    margin-top: 100px;    
}

ul{
    forced-color-adjust: auto;
    list-style: none;
}

main{
    display: inline-block;
    margin-top: 100px;
}

table{

}













