
*{
    border: 0;
    margin: 0;
    background: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: rgb(46, 42, 78);
}
h1{
    color: black;
    font-size: 64px;
    font-style: italic;
}

header{
    height: 150px;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./assets/background-design1.jpg);
}

.logo{
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 0px;
}
.tit-page{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: black;
}

.menu{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;        
    width: 100%;
    margin-top: 0;       
}

ul{
    forced-color-adjust: auto;
    list-style: none;
    padding: 4px;
    background-color: gray;    
}

.info{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    
    
}

table{    
    width: 100px;
    height: 200px;
    margin-top: 70px;
    padding: 2px;
    background-color: azure;
    color:black;
    border: black solid;
}

td{
    display: flex;
    flex-direction: column;

    padding: 2px;
    background-color: aqua;
    color: black;
    border: rgb(12, 16, 7) solid;
}
.maps{    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-around;

}
.registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    background-color: antiquewhite;
    color: black;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
}


form{    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-content: space-around;
    border: 2px solid black;    
}

form fieldset{
    padding: 2rem;
    border: 2px solid black;
}
label, h4{
    margin: 6px 6px;
}













