
*{
    border: 0;
    margin: 0;
    background: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: rgb(46, 42, 78);
}
h1{
    color: black;
    font-size: 64;
    font-style: italic;
}

header{
    height: 150px;
    width: 100%;
    display: block;
    margin: 0;
    padding: o;
    box-sizing: border-box;
    background-image: url(./assets/background-design1.jpg);
}

.logo{
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 0px;
}
.tit-page{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: black;
}

.menu{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;        
    width: 100%;
    margin-top: 0;       
}

ul{
    forced-color-adjust: auto;
    list-style: none;
    padding: 4px;
    background-color: gray;    
}

.info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    
    
}

table{
    
    width: 100px;
    height: 100%;
    padding: 2px;
    background-color: azure;
    color:black;
    border: sandybrown, solid;
}

td{
    padding: 2px;
    background-color: aqua;
    color: black;
    border: rgb(192, 217, 154), solid;
}



form{
    border: 1px, solid, black;
    padding: 2rem;
}
label{
    padding: 2rem;
    border: 1px, solid, black;
}












